@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-blue {
  background-color: #1214fd;
}

.bg-blue-light-hover:hover{
  background-color: #1216fd21;
}

.border-blue {
  border: 2px solid #1214fd;
}

.text-blue {
  color: #1214fd;
}

.bg-gray{
  background-color: #151519;
}

.gradient-circle {
  background: radial-gradient(
    circle at top left,
    rgba(254, 209, 76, 1) 15%,
    rgba(246, 115, 12, 1) 5%,
    rgba(5, 0, 207, 1) 80%
  );
}